/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Чёрный фон */
    color: #ffd700; /* Цвет текста жёлтый */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.top-bar {
    margin-bottom: 20px;
}

.clicker {
    position: relative;
}

.click-btn {
    background-color: transparent; /* Прозрачный фон кнопки */
    border: none;
    cursor: pointer;
    width: 200px; /* Ширина кнопки */
    height: 200px; /* Высота кнопки */
}

.click-btn img {
    display: block;
    width: 100%; /* Растягиваем изображение на всю ширину кнопки */
    border-radius: 50%; /* Делаем изображение круглым */
}

.improvements {
    margin-top: 20px;
}

.improvement-btn {
    background-color: #ffd700; /* Жёлтая кнопка */
    color: #1a1a1a; /* Чёрный текст */
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.improvement-btn:hover {
    background-color: #e6ac00; /* Жёлто-оранжевый при наведении */
}
