/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Чёрный фон */
    color: #ffd700; /* Цвет текста жёлтый */
    margin: 0;
    padding: 0;
}

.admin-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный чёрный фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

form input, form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

form button {
    background-color: transparent; /* Прозрачный фон кнопки */
    border: none;
    cursor: pointer;
    width: 100%; /* Ширина кнопки по ширине формы */
}

form button img {
    display: block;
    width: 100%; /* Растягиваем изображение на всю ширину кнопки */
    border-radius: 50%; /* Делаем изображение круглым */
}

form button:hover {
    background-color: #2b2b2b; /* Тёмный фон при наведении */
}

#admin-panel {
    display: none;
}

#admin-content {
    margin-top: 20px;
    color: #fff; /* Белый текст в админ панели */
}

.action-btn {
    margin-bottom: 10px;
}
